<div class="dashboard-container">
  <div class="shelter-info">
    <div class="shelter-photo">
      <%= cl_image_tag @shelter.photo.key, class: "border-img" %>
    </div>
    <div class="shelter-general">
      <h1><%= @shelter.name %></h1>
    </div>
  </div>
</div>
