
<div class="container">
  <% @shelters.each do |shelter| %>
  <% if shelter.photo.attached? %>
    <div class="card-deck">
      <div class="border mb-3" style= "max-width: 25rem;">
        <%= cl_image_tag shelter.photo.key, crop: :fill, class: "card-img-top img-border" %>
          <h5 class="card-title title-inline" style="color: #6096B4";><%= shelter.name %></h5>
          <p class="card-text mb-0"><%= shelter.address %></p>
          <a href=<%= "/shelters/#{shelter.id}" %> class="btn btn-outline-primary" role="button">Discover more</a>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
