<h1>Shelter <%= @shelter.name %></h1>
<div>
  <%= link_to 'Back to all shelters', shelters_path %>
  <% if policy(@shelter).destroy? %>
    <%= link_to 'Delete',
    shelter_path(@shelter),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>

  <% if policy(@shelter).edit? %>
    <%= link_to 'Edit this shelter', edit_shelter_path(@shelter) %>
  <% end %>
</div>
