// Specific CSS for your home-page
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.search-bar {
  max-width: 55%;
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: left;
}

.form-group label {
  width: 100px;
  margin-right: 10px;
  text-align: left;
}

.form-group select,
.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="text"] {
  flex: 1;
}

h1, h2, h3 {
  font-family: 'Skillet-Regular';
}
