.profile-container {
  width: 90vw;
  margin: 30px auto;
}

.profile-banner {
  width: 100%;
  height: 260px;
  background-color: #9787FD;
  border-radius: 15px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.profile-left {
  display: flex;
  width: 60%;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-right {
  display: flex;
  text-align: center;
}

.round-avatar {
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  width: 40%;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-edit-btn {
  width: 45%;
  padding-left: 0px;
  border: none;
  background-color: #FAB2CC;
  text-decoration: none;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  &:hover {
    background-color: #FCC2FC;
  }
}

.polish-button{
  padding-left: 0px;
  border: none;
  background-color: #BFACE2;
  text-decoration: none;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  &:hover {
    background-color: #A68BC2;
  }
}

.small-info {
  margin-bottom: 8px;
}

.user-description {
  text-align: justify;
}

.text-justify {
  text-align: justify;
}

.profile-appointment {
  margin-top: 25px;
  background-color: #9787FD;
  border-radius: 15px;
  padding: 25px;
}

.appointment-content {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
