<div class="profile-container">
  <div class="profile-banner">
    <div class="profile-left">
      <div class="profile-img">
        <%= cl_image_tag current_user.photo.key, width: 150, height: 150, class: "round-avatar" %>
      </div>
      <div class="user-info">
        <div class="user-basic-info">
          <h1 class="white-letter"><%= current_user.email %></h1>
          <h5 class="small-info white-letter">Berlin, Germany</h5>
          <p class="white-letter user-description">Sarah is looking to adopt a dog to provide her with companionship and encourage her to get outside and be more active.</p>
        </div>
        <button class="user-edit-btn">Edit profile</button>
      </div>
    </div>
    <div class="profile-right">
      <%= image_tag "pets_comp8.png", alt: "", width:"100%" %>
    </div>
  </div>
  <div class="profile-appointment">
    <h4 class="white-letter">Appointments</h4>
    <% if @appointments.empty? %>
    <% else %>
    <% end %>
  </div>
</div>
