.dashboard-container {
  width: 90vw;
  margin: 0 auto;
}

.shelter-info {
  display: flex;
  margin-top: 30px;
}

.shelter-photo {
  width: 45%;
}

.border-img {
  border-radius: 15px;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.shelter-general {
  width: 45%;
  margin-left: 20px;
}
