@font-face {
  font-family: "Skillet-Regular";
  src: font-url("Skillet-Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Skillet-Condensed-Regular";
  src: font-url("Skillet-Condensed-Regular.otf") format('opentype');
  font-weight: condensed;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Text-Roman";
  src: font-url("Neue-Haas-Text-Roman.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-Text-Medium";
  src: font-url("Neue-Haas-Text-Medium.otf") format('opentype');
  font-weight: medium;
  font-style: text;
}

@font-face {
  font-family: "Neue-Haas-D-Roman";
  src: font-url("Neue-Haas-D-Roman.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-D-Medium";
  src: font-url("Neue-Haas-D-Medium.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue-Haas-D-Black";
  src: font-url("Neue-Haas-D-Black.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
