.password-form-btn {
  font-family:"Neue-Haas-D-Medium";
  color: #ffffff;
  border: solid #FAB2CC;
  background-color: #9787FD;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: asset-url("cursor.png") , default!important;
  transition: all 0.3s ease;
  &:hover {
    background-color: #FAB2CC;
    color: white;
    border-color: white;
  }
}
